:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: #b6b6b6;
  background-color: #23232e;
  margin: 0;
  padding: 0;
  /* background-size: 100% 100% */
}

.btn-primary {
  
  color: #b6b6b6;
  background-color: #23232e;
  border-color: #000;
  width: 50%;
  /* left:30% ; */
}

.popupTextBox{
  width: 60%;
  border-color:#000;
  color: white;
  background: #2f3640;
  height: 40px;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
}

.accountTextBox{
  border-color:#000;
  color: white;
  background: #23232e;
  height: 40px;
  border-radius: 15px;
  padding: 10px;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: visible;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;  
  margin: 0 0.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

.button {
  position: relative;
}

.button p {
  display: transparent;
  font-size: 1em;
  width: 100%;
  height: 100%;
  line-height: 100%; 
  padding: 10px 0;
  margin: -10px 0;
}

.button figure {
  display: none;
  position: absolute;
  top: 2em;
  left: 1em;
  padding: 0;
  margin: 0;
}

.button img {
  display: block;
  position: relative;
  z-index:1000;
  border-radius: 0.8em;
  max-width: 100%;
  height: auto;
}

.button:focus figure,
.button:hover figure {
  display: block;
}
.button:focus p,
.button:hover p {
  background: none;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }

  .modal-content {
    margin: auto;
    width: 93%;
  }


}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
  .modal-content {
    margin: auto;
    width: 40%;
    /* margin-left: 0rem; */
    /* padding: 20px;
    border: 1px solid #888;
    width: 40%;
    font-family: 'Open Sans'; */
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  display:table;
  background-color: #23232e;
  /* margin: auto; */
  /* margin-left: 0rem;  */
  padding: 20px;
  border: 1px solid #888;
  /* width: 40%; */
  font-family: 'Open Sans';
}



/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.alert-dismissible2{
  position:absolute;
  width: 100%;
  margin-left:100px;
  max-width: calc(100% - 100px);
  border:1px solid transparent;
  border-radius:.25rem
}

.fb-login-button{
  margin-top: 20px;
}

.text-fix{
  table-layout: fixed;
}

#AboutPage{
  position: absolute;
  top: 25%;
  left: 38%;
  width: 500px;
  height: 500px;
  background: #141418;
  color: #141418;
}
#AboutPageText{
  color: white;
}

.form-control {
  width: 55%;
  height:auto;
  background-color: #343a40;
  color: #b6b6b6;
  border: none;
}

.container{
  margin-left:100px;
  max-width: calc(100% - 100px);
}

.popupImage{
  z-index: 10000;
}